@font-face {
font-family: 'Gotham Pro';
src: url('../fonts/GothamPro-LightItalic.eot');
src: url('../fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-LightItalic.woff2') format('woff2'),
url('../fonts/GothamPro-LightItalic.woff') format('woff'),
url('../fonts/GothamPro-LightItalic.ttf') format('truetype');
font-weight: 300;
font-style: italic;
}

@font-face {
font-family: 'Gotham Pro';
src: url('../fonts/GothamPro-Bold.eot');
src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-Bold.woff2') format('woff2'),
url('../fonts/GothamPro-Bold.woff') format('woff'),
url('../fonts/GothamPro-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'Gotham Pro';
src: url('../fonts/GothamPro-MediumItalic.eot');
src: url('../fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-MediumItalic.woff2') format('woff2'),
url('../fonts/GothamPro-MediumItalic.woff') format('woff'),
url('../fonts/GothamPro-MediumItalic.ttf') format('truetype');
font-weight: 500;
font-style: italic;
}

@font-face {
font-family: 'Gotham Pro';
src: url('../fonts/GothamPro.eot');
src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro.woff2') format('woff2'),
url('../fonts/GothamPro.woff') format('woff'),
url('../fonts/GothamPro.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Gotham Pro';
src: url('../fonts/GothamPro-BoldItalic.eot');
src: url('../fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-BoldItalic.woff2') format('woff2'),
url('../fonts/GothamPro-BoldItalic.woff') format('woff'),
url('../fonts/GothamPro-BoldItalic.ttf') format('truetype');
font-weight: bold;
font-style: italic;
}

@font-face {
font-family: 'Gotham Pro';
src: url('../fonts/GothamPro-Black.eot');
src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-Black.woff2') format('woff2'),
url('../fonts/GothamPro-Black.woff') format('woff'),
url('../fonts/GothamPro-Black.ttf') format('truetype');
font-weight: 900;
font-style: normal;
}

@font-face {
font-family: 'Gotham Pro Narrow';
src: url('../fonts/GothamProNarrow-Medium.eot');
src: url('../fonts/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamProNarrow-Medium.woff2') format('woff2'),
url('../fonts/GothamProNarrow-Medium.woff') format('woff'),
url('../fonts/GothamProNarrow-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: 'Gotham Pro';
src: url('../fonts/GothamPro-Italic.eot');
src: url('../fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-Italic.woff2') format('woff2'),
url('../fonts/GothamPro-Italic.woff') format('woff'),
url('../fonts/GothamPro-Italic.ttf') format('truetype');
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: 'Gotham Pro';
src: url('../fonts/GothamPro-Light.eot');
src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-Light.woff2') format('woff2'),
url('../fonts/GothamPro-Light.woff') format('woff'),
url('../fonts/GothamPro-Light.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: 'Gotham Pro Narrow';
src: url('../fonts/GothamProNarrow-Bold.eot');
src: url('../fonts/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamProNarrow-Bold.woff2') format('woff2'),
url('../fonts/GothamProNarrow-Bold.woff') format('woff'),
url('../fonts/GothamProNarrow-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'Gotham Pro';
src: url('../fonts/GothamPro-Medium.eot');
src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-Medium.woff2') format('woff2'),
url('../fonts/GothamPro-Medium.woff') format('woff'),
url('../fonts/GothamPro-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: 'Gotham Pro';
src: url('../fonts/GothamPro-BlackItalic.eot');
src: url('../fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
url('../fonts/GothamPro-BlackItalic.woff2') format('woff2'),
url('../fonts/GothamPro-BlackItalic.woff') format('woff'),
url('../fonts/GothamPro-BlackItalic.ttf') format('truetype');
font-weight: 900;
font-style: italic;
}

*,
*::before,
*::after {
box-sizing: border-box;
backface-visibility: hidden;
}



body {
	position: relative;

  margin: 0;
  padding: 218px 0 0 0;

  font-family: "Gotham Pro", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  min-width: 1040px;
}

a {
	color:inherit;
}

p {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.8;
	font-weight: 400;
	text-align: justify;

}

p:last-child {
	margin-bottom: 0;
}

.lead {
	font-weight: 500;
}

.img-right {
	float: right;
	margin: 10px 0 20px 30px;
}

.img-left {
	float: left;
	margin: 10px 30px 20px 0;
}


input:focus {
	outline:none;
}

h2,
h3,
h4,
h5 {
	text-align: center;
}

h2 {
	font-size: 28px;
	line-height: 1.4;
	margin: 48px 0 36px;
}

h2:first-child {
    margin-top: 0;
}

h3 {
	font-size: 18px;
	line-height: 1.4;
	margin: 36px 0 24px;
}

.first-block {
  background-image: url("../img/3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first-block--inner {
    padding: 40px 0;
}

.first-block--inner h1,
.first-block--inner p {
    margin: 0;
}

.first-block--inner p {
    font-size: 18px;
}

.main-nav a {
	text-decoration: none;

}

.main-nav__item:last-child {
	margin-right: 0;
}

.menu-products {
	width: calc(100% - 220px);
}

.main-navigation {
	font-size: 16px;
}

.main-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	font-weight: 700;
	background: #fff;
	box-shadow: 10px 20px 36px 0 rgba(0, 0, 0, .2);
	z-index: 10000;
}

.menu-requirements {
	margin: 10px 0 20px;
}

.header-title__main {
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
}

.header-title__descr {
	font-weight: 500;
}


.menu-requirements a {
	text-decoration: none;
}

.menu-products {
	list-style:none;
}

.menu-products a {
	text-decoration: none;
}

.dropdown {
	display:none;
	list-style:none;
	text-decoration: none;
}

.menu-products__trigger .dropdown:hover a {
	display:block;
}

.dropdown a{
	text-decoration: none;
}

.menu-requirements li {
	margin-left:30px;
	float:left;
	list-style:none;
	text-transform: uppercase;
}

.menu-requirements a, .main-nav a, .menu-products__item, .menu-products__trigger{
	display:inline-block;
	padding:10px 0;
	margin-right: 10px;
}

.menu-requirements a:last-child, .main-nav:last-child, .menu-products__trigger {
	margin-right: 0;
}
.menu-products__trigger {
	margin-right: 0;
}


.container {
	width: 1080px;
	max-width:100%;
	margin: 0 auto;
}

.title-form-block {
	width: 1020px;
  	margin: 0 auto;

}

.main-navigation .menu-requirements a {
	text-decoration: none;	
}

.main-navigation .site-navigation li {
	list-style:none;
}

.main-navigation .main-menu {
	list-style:none;
}

.main-navigation .main-menu a {
	text-decoration: none;	
}

.number {
	font-size: 13px;
}

.form {
	text-align:center;
}

.col-4 {
 width:23%;
 margin-right:2%;
}

.col-4:last-child {
	margin-right:0;
}

.btn {
	padding: 24px 40px;
	background-color: #00B5FF;
	color: white;
	border-radius: 60px;
	width: 300px;
	max-width: 100%;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border: none;
	box-shadow: 10px 20px 36px 0 rgba(0, 0, 0, .2);
	cursor: pointer;
	transition: all ease 0.3s;
}

.btn:hover {
	box-shadow: 10px 20px 36px 0 rgba(0, 0, 0, 0);
}

.category a , .features a {
	text-decoration: none;	
}

.contacts b {
	font-size:20px;	
}

.contacts {
	text-align:right;
}

.header-title {
	text-align:center;
}

.flex-row {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items:center;
}

.flex-row--start {
	align-items: flex-start;
}

.flex-row--stretch {
	align-items: stretch;
}

.footer {
	background-color: #979c9f;
	padding-top:40px;
	color: #fff;
}

.copyright {
	padding: 20px 0;
	margin-top: 40px;
	background-color: rgba(0,0,0,0.2);
}

.flex-row + .flex-row {
	margin-top: 20px;
}

.logo img {
	width:54px;
}
.logo__title {
	display:block;
	text-decoration: none;
	font-weight: 300;
	margin-left:10px;
	max-width:100px;
	line-height: 1.4;

}

.logo a {
	display:flex;
	text-decoration: none;
	align-items:flex-end;
}

.contacts {
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	align-items:flex-end;
}

.header-title__main {
	text-transform:uppercase;
}

.mail,
.time {
	line-height: 1.48;
	text-decoration: none;
	font-weight: 300;
}

.page-title {
	font-size: 42px;
	font-weight: 900;
	line-height: 1.4;
}

.page-title span {
	font-size: 49px;
	color: #539ebb;
	color: #f0f455;
}

.title p {
	line-height: 1.6;
	font-weight: 300;
	font-size: 20px;
	text-align: left;
	margin-top: 0;
}

.title .title__top {
	font-size: 16px;
}

.form {
width: 400px;
	box-shadow: 0 30px 40px 0 rgba(0, 0, 0, .2);
background-color: #FFFFFF;
border-radius: 14px;
position: relative;
padding:40px;
margin:40px 0;
}

.title {
	max-width: 600px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.breadcrumbs a {
    text-decoration: none;
}

.form__title {
  line-height:1.36;
  margin-bottom: 20px;
	text-transform: uppercase;
}
.form__title-middle{
	font-size:26px;
	color:#00B5FF;
	font-weight: 800;
	letter-spacing: 0.5px;

}
.form__title-top {
	font-weight:300;
	font-size:18px;
	
}

.form__title-bottom {
	font-size:18px;
	font-weight: 800;
}

.form__input {
	box-sizing:border-box;
	background-color:#f2f3f8;
	border: none;
	padding: 20px;
	border-radius:30px;
	margin-bottom: 10px;
	width:100%;
}

.pda{
	display:block;
	padding-left:40px;
	font-weight:300;
	position:relative;
	margin:20px;
	line-height:1.4;
	text-align:left;
	cursor:pointer;
}

#pda-checkbox {
	display:none;
}

.pda::before ,
.pda::after {
	content:"";
	display:block;
	position:absolute;
}

.pda::before {
	border: 2px solid #ccc;
  width:20px;
  height:20px;
  left:0;
  top:0;
  border-radius:10px;
}

.pda::after {
	width:20px;
	height:10px;
	border-left:2px solid black;
	border-bottom:2px solid black;
	transform:rotate(-45deg);
	left:2px;
  top:0;
  opacity:0;
  transition:opacity 0.3s ease;
}

#pda-checkbox:checked + .pda::after {
	opacity:1;
}

.shadow-block {
	background: #fff;
	min-height: 140px;
	border-radius: 14px;
	box-shadow: 0 10px 40px 0 rgba(16, 36, 94, .2);
	border: none;
	padding: 20px 30px;
}

.block {
	padding: 48px 0 64px;
}

.advantages {
	background: url(../img/review-bg.png) no-repeat top center;
}

.category {
	padding-top: 25px;
}

.category__num {
	position: absolute;
	font-size: 100px;
	line-height: 1;
	color: rgba(0, 181, 255, 1);
	top: -40px;
	left: -74px;
}

.category__title {
	margin: 30px 30px 30px 70px;
	font-size: 18px;
	line-height: 1.4;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 20px;
}

.category__text {
	margin-bottom: 15px;
	font-weight: 400;
}

.features a,
.catalog a {
	display: flex;
	align-items: center;
	position: relative;
	min-height: 92px;
	padding: 20px 30px;
	text-decoration: none;
}

.catalog a {
	flex-direction: column;
	min-height: 100px;
}

.catalog__title {
	margin: 10px auto 0;
}

.features img {
	position: absolute;
	max-width: 64px;
	right: 10px;
	bottom: 15px;
}

.catalog img {
	position: static;
	max-height: 110px;
}

.catalog:nth-child(2) img {
	left: -23px;
	max-width: 140px;
}

.category__title,
.category__name {
	position: relative;
}

.features,
.catalog {
	padding: 0;
	position: relative;
	overflow: hidden;
	min-height: inherit;
	transition: all ease 0.4s;
}

.features:hover,
.catalog:hover {
	box-shadow: 0 10px 40px 0 rgba(16, 36, 94, 0);
}

.features__item,
.catalog__title {
	position: relative;
	font-size: 13px;
	line-height: 1.4;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 4.8px;
	display: block;
}

.footer .main-nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer .main-nav--right {
	text-align: right;
}

.footer .main-nav--left {
	text-align: left;
}

.footer .main-nav__item {
	padding: 0;
	margin: 0;
	min-width: 120px;
	font-weight: 700;
	margin-bottom: 8px;
}

.footer-title {
	font-weight: 700;
}

.phone {
	/*color: #539ebb;*/
    color: #539ebb;
	font-weight: 700;
	font-size: 28px;
	text-decoration: none;
	line-height: 1;
}

.footer .phone {
	color: #fff;
}
